@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: #2c3e50;
    color: white;
}

#title {
    font-size: 3rem;
}
#cityName{
    padding: 8px;
    width: 350px;
    border: none;
    border-radius: 8px;
}
input:focus{
    outline: none;
}